<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZwQuRtw08FBenXKx4RUFpq8dWeAWpQ0c</string>
	<key>GCM_SENDER_ID</key>
	<string>78782712918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.houseOfTasty.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>house-of-tasty-e7857</string>
	<key>STORAGE_BUCKET</key>
	<string>house-of-tasty-e7857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78782712918:ios:71703d782f85d8a25cfff7</string>
</dict>
</plist>